<ion-header [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{util.translate('Order Details')}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openHelp()">
        <ion-icon slot="icon-only" name="help-circle-outline" color="light"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="apiCalled == false" class="loader">
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <ion-card class="order-list" *ngIf="apiCalled == true" mode="ios">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img [src]="api.mediaURL+userCover" onError="this.src='assets/imgs/placeholder.jpeg'" />
      </ion-thumbnail>
      <ion-label>
        <h2 class="store-name">{{userName}}</h2>
        <p class="order-number">{{util.translate('Your Order No.')}} {{id}} {{util.translate('is')}} {{status}} </p>
      </ion-label>
      <ion-icon slot="end" name="information-circle-outline" (click)="presentActionSheet()"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h2> {{util.translate('Delivery Address')}} </h2>
        <p class="deliveryAddress">{{deliveryAddress}}</p>
      </ion-label>
      <ion-icon slot="end" name="navigate-circle-outline" (click)="openLocation()"></ion-icon>
    </ion-item>
    <ion-card-content class="card-content">
      <div *ngFor="let sub of items" class="item-list">
        <ion-label><span class="item-name">{{sub.name}} ({{sub.cate_name}}) </span> &nbsp; <span
            class="item-name">X{{sub.quantity}}</span>
        </ion-label>
        <ion-label class="item-price" *ngIf="sub.discount == 0 && util.cside =='left'"> {{util.currecny}}
          {{sub.original_price}} </ion-label>
        <ion-label class="item-price" *ngIf="sub.discount == 0 && util.cside =='right'">{{sub.original_price}}
          {{util.currecny}}</ion-label>
        <ion-label class="item-price" *ngIf="sub.discount != 0">
          <span class="original" *ngIf="util.cside =='left'"> {{util.currecny}} {{sub.original_price}} </span>
          <span class="sell" *ngIf="util.cside =='left'">{{util.currecny}} {{sub.sell_price}} </span>
          <span class="original" *ngIf="util.cside =='right'"> {{sub.original_price}} {{util.currecny}}</span>
          <span class="sell" *ngIf="util.cside =='right'"> {{sub.sell_price}} {{util.currecny}}</span>
        </ion-label>
      </div>
      <div class="dates-name">
        <ion-label class="title">{{util.translate('Pick up Date & Time')}} </ion-label>
        <ion-label class="date-time"> {{pickupDateTime}} </ion-label>
      </div>

      <div class="dates-name">
        <ion-label class="title">{{util.translate('Delivery Date & Time')}} </ion-label>
        <ion-label class="date-time"> {{deliveryDateTime}} </ion-label>
      </div>

      <br>

      <div class="item-total-list">
        <ion-label class="title">{{util.translate('Payment')}} </ion-label>
        <ion-label class="item-price"> {{paid}} </ion-label>
      </div>

      <div class="item-total-list">
        <ion-label class="title">{{util.translate('Sub Total')}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='left'"> {{util.currecny}} {{totalPrice}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='right'">{{totalPrice}} {{util.currecny}}</ion-label>
      </div>

      <div class="item-total-list">
        <ion-label class="title">{{util.translate('Delivery Cost')}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='left'"> {{util.currecny}} {{deliveryCost}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='right'">{{deliveryCost}} {{util.currecny}}</ion-label>
      </div>

      <div class="item-total-list">
        <ion-label class="title">{{util.translate('Service Tax')}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='left'"> {{util.currecny}} {{serviceTax}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='right'">{{serviceTax}} {{util.currecny}}</ion-label>
      </div>

      <div class="item-total-list-discount">
        <ion-label class="title">{{util.translate('Discount')}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='left'"> - {{util.currecny}} {{discount}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='right'"> - {{discount}} {{util.currecny}}</ion-label>
      </div>

      <div class="item-total-list-discount">
        <ion-label class="title">{{util.translate('Wallet Discount')}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='left'"> - {{util.currecny}} {{walletPrice}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='right'"> - {{walletPrice}} {{util.currecny}}</ion-label>
      </div>

      <br>
      <div class="grand-total">
        <ion-label class="title">{{util.translate('Grand Total')}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='left'"> {{util.currecny}} {{grandTotal}} </ion-label>
        <ion-label class="item-price" *ngIf="util.cside =='right'">{{grandTotal}} {{util.currecny}}</ion-label>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="order-list" *ngIf="apiCalled == true" mode="ios">
    <ion-label class="title-info">{{util.translate('Store Info')}} </ion-label>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img [src]="api.mediaURL+storeCover" onError="this.src='assets/imgs/placeholder.jpeg'" />
      </ion-thumbnail>
      <ion-label>
        <h2 class="store-name">{{storeName}}</h2>
        <p class="order-number"> {{storeAddress}} </p>
      </ion-label>
      <ion-icon slot="end" name="information-circle-outline" (click)="presentDriverActionSheet()"></ion-icon>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p *ngIf="statusNumber == 8" style="text-align: center; color: red;">{{util.translate('Payment is Pending')}} </p>

    <div class="status_div" *ngIf="statusNumber == 1 || statusNumber == 3 || statusNumber == 7 ">
      <div style="width: 200px;">
        <ion-select [placeholder]="util.translate('Choose Status')" [(ngModel)]="changeStatusOrder">
          <ion-select-option [value]="3"> {{util.translate('Ongoing')}} </ion-select-option>
          <ion-select-option [value]="7"> {{util.translate('Delayed')}} </ion-select-option>
          <ion-select-option [value]="4"> {{util.translate('Completed')}} </ion-select-option>
        </ion-select>
      </div>

      <div>
        <ion-button (click)="changeOrderStatus()" size="small">
          {{util.translate('Update Status')}}
        </ion-button>
      </div>
    </div>

    <ion-label class="green" *ngIf="statusNumber == 4">{{util.translate('Order Status')}} :
      {{util.translate('Order Delivered')}}</ion-label>
    <ion-label class="red" *ngIf="statusNumber == 5"> {{util.translate('Order Cancelled by user')}} </ion-label>
    <ion-label class="red" *ngIf="statusNumber == 2"> {{util.translate('Order Rejected')}} </ion-label>
    <ion-label class="red" *ngIf="statusNumber == 6"> {{util.translate('Order Refunded')}} </ion-label>
  </ion-toolbar>
</ion-footer>