<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="calendar-number-sharp"></ion-icon>
      <ion-label>{{util.translate("Orders")}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="earnings">
      <ion-icon aria-hidden="true" name="cash-sharp"></ion-icon>
      <ion-label>{{util.translate("Earnings")}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats">
      <ion-icon aria-hidden="true" name="chatbubbles-sharp"></ion-icon>
      <ion-label>{{util.translate("Chats")}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>{{util.translate("Account")}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>