p {
  font-size: 12px;
  text-align: center;
}

.otp_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

ion-button {
  padding: 0px 20px;
  width: 100%;
}