<ion-content>
  <div id="confettis">
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
  </div>
  <div class="main_content">
    <p>{{text}}</p>
    <ion-button (click)="onDismiss()" expand="block" color="light">
      {{util.translate('Okay')}}
    </ion-button>
  </div>
</ion-content>