<ion-header [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{util.translate("Add New Address")}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating"> {{util.translate('LOCATIONS')}} </ion-label>
    <ion-input [(ngModel)]="address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> {{util.translate('HOUSE / FLAT NO')}} </ion-label>
    <ion-input [(ngModel)]="house"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> {{util.translate('LANDMARK')}} </ion-label>
    <ion-input [(ngModel)]="landmark"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> {{util.translate('Pincode')}} </ion-label>
    <ion-input type="text" [(ngModel)]="pincode"></ion-input>
  </ion-item>

  <ion-radio-group [(ngModel)]="title">
    <ion-list-header>
      <ion-label>{{util.translate('SAVE AS')}}</ion-label>
    </ion-list-header>

    <ion-item style="margin-top: 20px;">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label> {{util.translate('HOME')}} </ion-label>
      <ion-radio value="home"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-icon name="briefcase-outline" slot="start"></ion-icon>
      <ion-label> {{util.translate('WORK')}} </ion-label>
      <ion-radio value="work"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-icon name="navigate-outline" slot="start"></ion-icon>
      <ion-label> {{util.translate('OTHER')}} </ion-label>
      <ion-radio value="other"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-button *ngIf="from =='new'" (click)="addAddress()" expand="block">
    {{util.translate('Add')}}
  </ion-button>

  <ion-button *ngIf="from =='edit'" (click)="updateAddress()" expand="block">
    {{util.translate('Update')}}
  </ion-button>
</ion-content>