<ion-content>
  <div [ngStyle]="{'background-image': 'url(assets/imgs/login.png)'}" class="bg-image-login">
    <div class="container-logo">
      <img src="assets/imgs/login-logo.png" alt="" class="logo">
    </div>
  </div>
  <div class="login-content">
    <form #loginForm="ngForm" class="animated animatedFadeInUp fadeInUp" *ngIf="step == 1">
      <ion-item lines="none">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input [placeholder]="util.translate('Email Address')" [disabled]="isLogin" [(ngModel)]="login.email"
          type="email" name="email" #email="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="login.email !='' || submitted == false" class="ion-padding-start">
          {{util.translate('Email is required')}}
        </p>
      </ion-text>


      <ion-button (click)="onLogin(loginForm)" type="submit" expand="block" [disabled]="isLogin" shape="round"
        class="login_btn">
        <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        <span *ngIf="!isLogin"> {{util.translate('SEND OTP')}} </span>
      </ion-button>

      <ion-button (click)="util.onBack()" expand="block" fill="clear" shape="round">
        {{util.translate("Login Back")}}
      </ion-button>
    </form>

    <form #loginForm="ngForm" class="animated animatedFadeInUp fadeInUp" *ngIf="step == 2">
      <ion-item lines="none">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input [placeholder]="util.translate('Password')" type="password" [disabled]="isLogin"
          [(ngModel)]="newPassword.password" name="password" [type]="viewPassword== true?'text':'password'"
          #password="ngModel" required></ion-input>
        <ion-button (click)="changeType()" fill="clear" slot="end" class="toggle_btn">
          <ion-icon slot="icon-only" [name]="viewPassword == true? 'eye-outline':'eye-off-outline'">
          </ion-icon>
        </ion-button>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="newPassword.password !='' || submitted == false" class="ion-padding-start">
          {{util.translate("Password is required")}}
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input [placeholder]="util.translate('Confirm Password')" type="password" [disabled]="isLogin"
          [(ngModel)]="newPassword.confirm" name="confirm" [type]="viewPassword== true?'text':'password'"
          #confirm="ngModel" required></ion-input>
        <ion-button (click)="changeType()" fill="clear" slot="end" class="toggle_btn">
          <ion-icon slot="icon-only" [name]="viewPassword == true? 'eye-outline':'eye-off-outline'">
          </ion-icon>
        </ion-button>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="newPassword.confirm !='' || submitted == false" class="ion-padding-start">
          {{util.translate("Confirm Password is required")}}
        </p>
      </ion-text>


      <ion-button (click)="resetPassword(loginForm)" type="submit" expand="block" [disabled]="isLogin" shape="round"
        class="login_btn">
        <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        <span *ngIf="!isLogin"> {{util.translate("Update Password")}} </span>
      </ion-button>

      <ion-button (click)="util.onBack()" expand="block" fill="clear" shape="round">
        {{util.translate("Login Back")}}
      </ion-button>
    </form>
  </div>
</ion-content>