<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{util.translate('Select Languages')}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedLanguages" (ionChange)="changed()">
      <ion-item *ngFor="let item of util.allLanguages" class="list" lines="none">
        <ion-label class="title">{{item.name}}</ion-label>
        <ion-radio [value]="item.code" slot="end" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>